@import url('https://fonts.googleapis.com/earlyaccess/opensanshebrew.css');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Hebrew', arial, sans-serif;
  color: #000;
}

* {
  box-sizing: border-box;
}

.app {
  height: 100%;
}
