.button-block {
    border-radius: 3px;
    background: #1E88E5;
    color: white;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.26);
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    line-height: 36px;
    min-height: 36px;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);

    width: 100%;
}

.button-block:hover {
    background-color: rgb(25,118,210);
}

.button-block:active {
    box-shadow: 0;
}

[disabled].button-block {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}