.button-link-default {
    background: transparent;
    color: #007bff;
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-link-default:hover {
    text-decoration: underline;
}

.button-link {
    background: transparent;
    color: #007bff;
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-link:hover {
    text-decoration: underline;
}

.breadcrumb {
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #eceeef;
    border-radius: .25rem;
}

.breadcrumb-divider {
    color: #636c72;
    cursor: default;
}