.tooltip-group {
    position: relative;
    /* width: 100%; */
}

/* 
.tooltip-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
} */

.tooltip-border {
    position: fixed;
    /*width: 350px;*/
    z-index: 100;
    pointer-events: none;
    border-radius: 4px;
    /*font-weight: 600;*/
    /* font-weight: bold; */
    font-size: 12px;
    background-color: rgba(114, 114, 114, 0.95);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12)
}

.tooltip-text {
    color: white;
    padding: 4px 6px;
    display: inline-block;
    white-space: normal;
}