.menu-button-container {
    display: flex;
    flex-direction: column;
}

.main-menu-button-container {
    display: flex;
}

.menu-button-open {
    background-color: rbg(61, 61, 61);
}

.menu-button-drop-down {
    /*max-height: 300px;*/
    overflow: hidden;
    color: black; 
    width: 180px;
    border-right: 1px solid #ccc;
}

.menu-button-drop-down-last {
    /*max-height: 300px;*/
    overflow: hidden;
    color: black; 
    width: 220px;
}

.main-menu-button-button {
    cursor: default;
    border: 0;
    background-color: transparent;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 11px;
}

.main-menu-button-button:hover:enabled {
    background-color: #4D4D4D;
}

.main-menu-button-button:active:enabled {
    background-color: #838485;
}

.menu-button-button {
    cursor: default;
    border: 0;
    background-color: transparent;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button-button:hover:enabled {
    background-color: #4D4D4D;
}

.menu-button-button:active:enabled {
    background-color: #838485;
}

.menu-toolbar-button {
    cursor: default;
    padding: 6px 8px;
    border: 0;
    border-radius: 3px;
    background-color: transparent;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}


.menu-toolbar-button:hover:enabled {
    background-color: #4D4D4D;
}

.menu-toolbar-button:active:enabled {
    background-color: #838485;
}

.menu-toolbar-button {

}

.menu-button-heading {
    background-color: #48494a;
    color: white;
    /* color: #48494a; */
    /*font-weight: 600;*/
    font-weight: bold;
    font-size: 12px;
    padding: 4px 4px 4px 10px;
}

.menu-button-item {
    display: flex;
    align-items: center;
    color: #4d4d4d;
    /* font-weight: 600; */
    font-size: 12px;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    margin: 2px;
}

.menu-button-item:hover {
    background-color: #EEEEEE;
}

.menu-button-item-disabled {
    display: flex;
    align-items: center;
    color: #aaaaaa;
    pointer-events: none;
    /* font-weight: 600; */
    font-size: 12px;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    margin: 2px;
}

.main-menu-drop-down {
    display: flex;
    /*padding: 4px 4px 8px 4px;*/

    padding: 1px 0px 5px;  
    min-width: 400px;
    color: #6c6d6f;
}

.sub-menu-drop-down {
    display: flex;
    /*padding: 4px 4px 8px 4px;*/
    flex-direction: column;
    min-width: 400px;
}

.sub-menu-form {
    padding: 4px 4px 8px 4px;
}


.menu-button-area {
    position: relative;
}
.arrow-up {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    width: 0; 
    height: 0;
    left: 0px;
    right: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  
    border-bottom: 8px solid white;
}

.menu-button-footer {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    padding: 10px 0;    
    display: flex;
}

.menu-form-item {
    color: #6c6d6f;
    font-size: 12px;
    padding: 4px;
}

.menu-form-item > span {
    /*font-weight: 600;*/
    font-weight: bold;
}

.menu-button-control {
    color:#6c6d6f;
    font-size: 12px;
    padding: 4px;

    -webkit-transition: all .3s;
    transition: all .3s;
    margin-left: auto;
}

.menu-button-control > span {
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #c6c6c6;

    -webkit-transition: background .15s linear;
    transition: background .15s linear;
}

.menu-button-control > span:hover {
    background-color: #EEEEEE;
}

.menu-card-icon {
    color: #6c6d6f;
    padding: 20px;    
}

.menu-card-container {
    display: flex;
    align-items: center;
}

.menu-divider {
    border-left: 1px solid #f0f0f0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 12px;
    margin-right: 2px;
}

.menu-button-divider {
    border-top: 1px solid #ccc;
    margin: 0px 6px;
}