.check-box-container {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.check-box-container-disabled {
    cursor: default;
}

.check-box-click-animate {
    transition: .24s;
}

.check-box {
    box-sizing: border-box;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.check-box-default {
    border-color: rgba(255, 82, 82, 0.87);
    background-color: rgba(255, 82, 82, 0.87);
}

.check-box-theme-1 {
    border-color: rgba(16,108,200,0.87);
    background-color: rgba(16,108,200,0.87);
}

.check-box-theme-2 {
    border-color: rgba(133, 142, 155, 1);
    background-color: rgba(133, 142, 155, 1);
}

.is-checked-disabled {
    border-color: rgba(0,0,0,0.38);;
    background-color: rgba(0,0,0,0.38);;
}

.is-unchecked {
    border-color: rgba(0,0,0,0.54);
}

.is-unchecked-disabled {
    border-color: rgba(0,0,0,0.38);
}

.check-box-label {
    padding: 0px 4px;
    font-size: 12px;
    /*font-size: 80%;
    font-weight: bold;*/
    line-height: 1;
    color: #555;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;    
}

.check-box-label-disabled {
    color: rgba(0,0,0,0.38);;
}