.multi-select-text-box-selected-items {
    background-color: #fff;
    background-image: none;
    padding: 4px 4px;
    margin: 2px 0px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    min-height: 30px;
}

.multi-select-text-box-selected-items-theme-1 {
    border: 1px solid #CCC;
    padding: 4px 4px;
    margin: 2px 0px;
    min-height: 30px;
}

.multi-select-text-box-container {
    display: flex;
    flex-direction: row;
}