/* button*/
.button-primary {
    border-radius: 3px;
    background: #1E88E5;
    color: white;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.26);
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    line-height: 36px;
    min-height: 36px;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-primary:hover {
    background-color: rgb(25,118,210);
}

.button-primary:active {
    box-shadow: 0;
}

[disabled].button-primary {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.button-success {
    border-radius: 3px;
    background: #227447;
    color: white;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.26);
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;    
    line-height: 36px;
    min-height: 36px;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-success:hover {
    background-color: #0E5C2F;
}

.button-success:active {
    box-shadow: 0;
}

[disabled].button-success {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.button-standard {
    border-radius: 3px;
    background: #868e96;
    color: white;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.26);
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    line-height: 36px;
    min-height: 36px;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-standard:hover {
    background-color: #727B84;
}

.button-standard:active {
    box-shadow: 0;
}

[disabled].button-standard {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

/* button-dialog */
.button-dialog-primary {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    cursor: default;
    text-decoration: none;
    margin: 0 5px;
    display: inline-block;
    line-height: 24px;
    border-radius: 2px;
    min-width: 54px;
}

.button-dialog-primary:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    background-image: linear-gradient(top,#4d90fe,#357ae8);
    border: 1px solid #2f5bb7;
}

.button-dialog-primary:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    background: #357ae8;
    border: 1px solid #2f5bb7;
}

[disabled].button-dialog-primary {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.button-dialog-success {
    background-color: #28a745;
    border: 1px solid #28a745;
    color: #fff;
    cursor: default;
    text-decoration: none;
    margin: 0 5px;
    display: inline-block;
    line-height: 24px;
    border-radius: 2px;
    min-width: 54px;
}

.button-dialog-success:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #008227;
    background-image: -webkit-linear-gradient(top,#00B036,#008227);
    background-image: linear-gradient(top,#00B036,#008227);
    border: 1px solid #00581B;
}

.button-dialog-success:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    background: #227447;
    border: 1px solid #0E5C2F;
}

[disabled].button-dialog-success {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.button-dialog-standard {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #666;
    cursor: default;
    text-decoration: none;
    margin: 0 5px;
    display: inline-block;
    line-height: 24px;
    border-radius: 2px;
    min-width: 54px;
}

.button-dialog-standard:hover {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-color: #c6c6c6;
    color: #222;
    background-color: #fff;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
    background-image: -webkit-linear-gradient(top,#fff,#f8f8f8);
    background-image: -webkit-linear-gradient(top,#fff,#f8f8f8);
    background-image: linear-gradient(top,#fff,#f8f8f8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#f8f8f8');
}

.button-dialog-standard:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    background: #f8f8f8;
    color: #333;
}

[disabled].button-dialog-standard {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

/* button-flat*/
.button-flat-primary {
    border-radius: 3px;
    background: #1E88E5;
    color: white;
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    line-height: 36px;
    min-height: 36px;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-flat-primary:hover {
    background-color: rgb(25,118,210);
}

.button-flat-primary:active {
    box-shadow: 0;
}

[disabled].primary-flat-submit {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.button-flat-success {
    border-radius: 3px;
    background: #227447;
    color: white;
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    line-height: 36px;
    min-height: 36px;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-flat-success:hover {
    background-color: #0E5C2F;
}

.button-flat-success:active {
    box-shadow: 0;
}

[disabled].button-flat-success {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.button-flat-standard {
    border-radius: 3px;
    background: #868e96;
    color: white;    
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    line-height: 36px;
    min-height: 36px;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-flat-standard:hover {
    background-color: #727B84;
}

.button-flat-standard:active {
    box-shadow: 0;
}

[disabled].button-flat-standard {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.button-flat-transparent {
    border-radius: 3px;
    background: transparent;
    color: black;    
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    line-height: 36px;
    min-height: 36px;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-flat-transparent:hover {
    background-color: rgb(238, 238, 238);
}

.button-flat-transparent:active {
    box-shadow: 0;
}

[disabled].button-flat-transparent {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.button-flat-transparent-small {
    border-radius: 3px;
    background: transparent;
    color: black;    
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    margin: 0px 0px;
    line-height: 24px;
    min-height: 24px;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-flat-transparent-small:hover {
    background-color: rgb(238, 238, 238);
}

.button-flat-transparent-small:active {
    box-shadow: 0;
}

[disabled].button-flat-transparent-small {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

/* button-outline*/
.button-outline-primary {
    background: transparent;
    border-radius: 3px;
    border: 1px solid #1E88E5;
    color: #1E88E5;
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    line-height: 36px;
    min-height: 36px;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-outline-primary:hover {
    background: #1E88E5;
    color: #fff;
}

.button-outline-primary:active {
    box-shadow: 0;
}

[disabled].primary-outline-submit {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.button-outline-success {
    background: transparent;
    border-radius: 3px;
    border: 1px solid #227447;
    color: #227447;
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    line-height: 36px;
    min-height: 36px;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-outline-success:hover {
    background-color: #0E5C2F;
    color: #fff;
}

.button-outline-success:active {
    box-shadow: 0;
}

[disabled].button-outline-success {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.button-outline-standard {
    background: transparent;
    border-radius: 3px;
    border: 1px solid #868e96;
    color: #868e96;
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    line-height: 36px;
    min-height: 36px;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-outline-standard:hover {
    background-color: #727B84;
    color: #fff;
}

.button-outline-standard:active {
    box-shadow: 0;
}

[disabled].button-outline-standard {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.button-label {
    padding-left: 5px;
}

.button-dialog {
    cursor: default;
    border: 0;
    background-color: transparent;
    color: white;
    text-decoration: none;    
    padding: 6px;
    font-size: 10px;
}

.button-dialog:hover:enabled {
    background-color: #616161;
}

.button-dialog:active:enabled {
    background-color: #838485;
}


.button-toolbar {
    border-radius: 3px;
    background: transparent;
    color: rgb(116, 116, 116);    
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    margin: 0px 0px;
    line-height: 24px;
    min-height: 24px;
    white-space: nowrap;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-toolbar:hover {
    background-color: rgb(235, 235, 235);
    color: black;
}

.button-toolbar:active {
    box-shadow: 0;
}

[disabled].button-toolbar {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}

.button-sidebar {
    border-radius: 3px;
    background: transparent;
    color: rgb(116, 116, 116);    
    box-sizing: border-box;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px 6px;
    margin: 0px 0px;
    line-height: 24px;
    min-height: 24px;
    white-space: nowrap;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s cubic-bezier(.25,.8,.25,1);
}

.button-sidebar:hover {
    background-color: #c5c5c5;
}

.button-sidebar:active {
    box-shadow: 0;
}

[disabled].button-sidebar {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}