.overlay-container-default {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.overlay-text {
    font-style: italic;
    word-wrap: normal;
    white-space: normal;
    padding: 5px 20px;
}