.busy-indicator-container {
    width: 100%;
}

.busy-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}

.busy-loading-circle {
    border: 5px solid #CACDCC;
    border-radius: 50%;
    width: 140px;
    height: 140px;
}
        
.busy-indicator-icon {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26);
	background-color: rgb(25, 118, 210);
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 42px;
}

.busy-indicator-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.busy-loading-lines {
    flex-grow: 1;
    border-top: 5px solid #F0ECE4;
}

.busy-loading-content {
    color:#495d74;
    font-size: 24px;
    font-weight: bold;
    font-style: oblique;
    display: flex;
    justify-content: center;
}
        
.busy-indicator-section {
    padding-left: 5px;
}

.busy-indicator-text {    
    padding-left: 5px;
    padding-right: 20px;
    color: white;
}

.busy-indicator-loading-container {
    position: relative;
}

.busy-indicator-loading-padding {    
    padding: 20px;
    height: 130px;
    width: 130px;     
}

.busy-indicator-cog-1 {
    color: white;
}

@keyframes busy-indicator-animation {
    0%  
    {         
        opacity: 0.1; 
        transform: scale(0.1);
        -ms-transform: scale(0.1);
        -webkit-transform: scale(0.1);
    }
    3%  
    { 
        transform: scale(1.0);
        -ms-transform: scale(1.0);
        -webkit-transform: scale(1.0);      
    }
    5%  { opacity: 1; }
    50% { opacity: 1; }
    55% { opacity: 0.1; }
}
.busy-indicator-hexagon-1 {
    transform-origin: 50% 50%;
    animation-delay: 0s;
    opacity: 0.1;
    fill:#495D74;
}

.busy-indicator-hexagon-2 {
    transform-origin: 50% 50%;
    animation-delay: 0.5s;
    opacity: 0.1;
    fill:#495D74;
}

.busy-indicator-hexagon-3 {
    transform-origin: 50% 50%;
    animation-delay: 1s;
    opacity: 0.1;
    fill:#495D74;
}

.busy-indicator-hexagon-4 {
    transform-origin: 50% 50%;
    animation-delay: 1.5s;
    opacity: 0.1;
    fill:#495D74;
}

.busy-indicator-hexagon-5 {
    transform-origin: 50% 50%;
    animation-delay: 2s;
    opacity: 0.1;
    fill:#495D74;
}

.busy-indicator-hexagon-6 {
    transform-origin: 50% 50%;
    animation-delay: 2.5s;			
    opacity: 0.1;
    fill:#495D74;
}

.busy-indicator-hexagon-7 {
    transform-origin: 50% 50%;
    animation-delay: 3s;
    opacity: 0.1;
    fill:#495D74;
}

.busy-indicator-loading-hexagon {
    animation-name: busy-indicator-animation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function:  ease;
}
