@keyframes indeterminate-rotate {
    0%       { transform: rotate(0deg); }
    100%     { transform: rotate(360deg); }
}

.busy-indicator-circular {
  position: relative;
  display: block;
  height: 20px;
  width: 20px;
}

.busy-indicator-circular-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  animation: indeterminate-rotate 1568.63ms linear infinite;
}

.busy-indicator-circular-path {
    stroke-dashoffset: 200px;
    stroke-dasharray: 37px;
    stroke: #4d90fe;
}