.context-menu {
    z-index: 1000;
    margin: .125rem 0 0;
    font-size: 12px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;

    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.context-menu-item {
    cursor: default;
    font-weight: 600;
    padding: 8px 6px;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
}    

.context-menu-item:hover {
    background-color: rgb(238, 238, 238);
}

.context-menu-item-disabled {
    background-color: rgb(238, 238, 238);
    color: #a0a0a0;
    pointer-events: none;
}

.context-menu-header {
    font-weight: 600;
    background-color: #404040;
    color: white;
    padding: 8px 6px;
    margin-right: auto;   
}

.context-menu-divider {
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    width: 100%;
    cursor: default;
    background-color: rgba(0,0,0,0.11);
}
.context-menu-padding {
    padding-left: 4px;
    padding-right: 4px;
}