.combo-box-container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.combo-box-drop-down-container {
    border-top: 1px solid #CCC;
}

.combo-box-area {
    display: flex;
}

.combo-box-panel {
    width: 100%;
    overflow-y: auto;
    max-height: 200px;
    /*max-width: 300px;*/
    display: flex;
    align-items: center;
    min-height: 28px;
    background-color: white;
}

.combo-box-panel-disabled {
    background-color: rgba(0, 0, 0, 0.12);
}

.combo-box-panel-multiple {
    overflow-x: auto;
    flex-wrap: wrap;
}

.combo-box-panel-single {
    overflow-x: hidden;
    flex-wrap: nowrap;
}

.combo-box-panel-default {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    padding: 1px 2px;
}
 
.combo-box-panel-theme {
    border: 1px solid #CCC;
    padding: 1px 2px;
}

.combo-box-panel-input {
    flex: 1;
    display: flex;
}

.combo-box-drop-down {
    max-height: 300px;
    overflow: hidden;
}

.combo-box-button {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    border: 0;
    background-color: white;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    min-height: 20px;
}

.pulldown-caret {
    margin-left: auto;
    align-self: center;
    cursor: default;
    padding-right: 4px;
}

.combo-box-item {
    border-bottom: 1px solid #CCC;
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
    position: absolute;
    -webkit-transition: background .15s linear;
    transition: background .15s linear;
    display: flex;
}

.combo-box-list-item-selected {
    background-color: #e3e3e3;
}
.combo-box-list-item-selected:hover {
    background-color: rgb(240,240,240);
}

.combo-box-item:hover {
    background-color: #EEEEEE;
}

.combo-box-watermark {
    color: #5D5D5D;
}

.clear-button {
    color: #212121;
    /*font-weight: 600;*/
    border-bottom: 1px solid #CCC;
    padding: 6px 12px;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #EEEEEE;
}

.combo-box-selection-box {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.combo-box-selection-container {
    white-space: normal; 
    max-height:80px;
}

.combo-box-selected-item {
    background-color: #ddd; 
    white-space: nowrap;
    padding: 2px 5px 2px 3px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: 1px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

.combo-box-item-highlight {
    border-left: 6px solid #4D90FE;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.combo-box-item-template {    
    align-self: center;
    padding: 0px 16px;
    white-space: pre;
}

.legacy-combo-box-panel {
    width: auto !important;
    display: inline-block;
}


.legacy-combo-box-button {
    display: inline-block;
    vertical-align: top;
}