.tree-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.tree-spot {
    color: #555;
}

.tree-item {
    display: flex;
    align-items: center;
}

.tree-item-selected {
    background-color: #e3e3e3;
}

.tree-item-selected:hover {
    background-color: rgb(240,240,240);
}

.tree-item:hover {
    background-color: #EEEEEE;
}

.tree-item-caret {
    cursor: default;
}

.tree-item-template {
    cursor: default;
}