
.radio-button-container {
    color:rgba(0, 0, 0, 0.87);    
    display:block;
    height:20px;
    width:20px;
    position:relative;
    text-size-adjust:100%;
    white-space:nowrap;
    -webkit-box-direction:normal;
    -webkit-font-smoothing:antialiased;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.radio-button-inner {    
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size:16px;
    height:20px;
    left: 0px;
    line-height:22.4px;
    position: absolute;
    text-size-adjust: 100%;
    top: 0px;
    /* transform: matrix(0.5, 0, 0, 0.5, 0, 0); */
    transition-delay: 0s, 0s;
    transition-duration: 0.28s, 0.28s;
    transition-property: transform, -webkit-transform;
    transition-timing-function: ease, ease;
    white-space: nowrap;
    width: 20px;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.radio-button-outer-not-selected {
    border-color: rgba(0, 0, 0, 0.54);
}

.radio-button-inner-not-selected {
    -webkit-transform: scale(0);
    transform: scale(0);
}

.radio-button-default-inner-selected {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    background-color: rgba(255, 82, 82, 0.87);
    color: rgba(255, 82, 82, 0.26);
}

.radio-button-default-outer-selected {
    border-color: rgba(255,82,82,0.87);
}

.radio-button-theme-1-inner-selected {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    background-color: rgba(16,108,200,0.87);
    color: rgba(16,108,200,0.87);
}

.radio-button-theme-1-outer-selected {
    border-color: rgba(16,108,200,0.87);
}

.radio-button-theme-2-inner-selected {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    background-color: rgba(133, 142, 155, 1);
    color: rgba(133, 142, 155, 1);
}

.radio-button-theme-2-outer-selected {
    border-color: rgba(133, 142, 155, 1);
}

.radio-button-outer-selected-disabled {
    background-color: rgba(0,0,0,0.38);
}

.radio-button-outer-not-selected-disabled {
    border-color: rgba(0,0,0,0.38);
    background-color: rgba(0, 0, 0, 0.1);
}

.radio-button-outer {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-style: solid;
    border-top-width: 2px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 20px;
    left: 0px;
    line-height: 22.4px;
    position: absolute;
    text-size-adjust: 100%;
    top: 0px;
    transition-delay: 0s;
    transition-duration: 0.28s;
    transition-property: border-color;
    transition-timing-function: ease;
    white-space: nowrap;
    width: 20px;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.radio-button-label {
    padding: 0px 4px;
    font-size: 10px;
    /*font-size: 80%;
    font-weight: bold;*/
    font-weight: bold;
    line-height: 1;
    color: #555;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.radio-button-disabled {
    color: rgba(0,0,0,0.38);
}