{
  "root": true,
  "extends": [
    "eslint:recommended",
    "loopback"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "allowImportExportEverywhere": true,
      "impliedStrict": true
    }
  },
  "plugins": [
    "chai-friendly",
    "json",
    "markdown"
  ]
}
