<div class="row">
  <div class="col">
    <div class="overview__icon">
      <i class="fa fa-html5"></i>
    </div>
    <h2 class="overview__title">Sample</h2>
    <p class="overview__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col">
    <div class="overview__icon">
      <i class="fa fa-css3"></i>
    </div>
    <h2 class="overview__title">Sample</h2>
    <p class="overview__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col">
    <div class="overview__icon">
      <i class="fa fa-code"></i>
    </div>
    <h2 class="overview__title">sample</h2>
    <p class="overview__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
