.toast {
    display: block;
    /* box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12); */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    pointer-events: visible;
}

.toast-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.toast-dialog {
    /* box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.12); */
    height: 100%;
}

.toast-body {
    height: 100%;
    background-color: #323232;
    display: flex;
    align-items: center;
}

.toast-content {
    color: white;
    padding: 12px;
    margin-right: auto;    
    font-weight: 500;
    max-height: 100px;
    overflow: hidden;
}

.toast-header {
    font-size: 14px;
}

.toast-content-section {
    width: 300px; 
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    max-height: 65px;
}