.radio-tabs {
    display: flex;
    width: 100%; 
}
.radio-item {
     border-style: solid;
    border-width: 1px;
  border-color:lightgrey;
  flex-grow: 1;
  height: 100%;
  position: relative; 
}
 

.radio-item-text {
  text-align: center;
  padding: 3px;
  cursor: pointer;
}

.radio-tabs > div.active > .selected-radio-line {
  background:rgb(255,82,82);
  color: rgb(255,82,82);
  height: 2px; 
  bottom: 0px;
  width:  100%;
  position: absolute;
}