.view-menu {
    width: 100%;
    position: relative;
}

.view-main {
    flex: 1;
	/* height: 100%; */
	overflow: hidden;
}

.view-plugin {
	position: relative;
    flex: 1;
	height: calc(100% - 70px);	
}

.view-initialize {
	position: absolute;
	width: 100%;
	height: calc(100% - 70px);
	background-color: white;
	top: 70px;
}

.view-container {	
	height: 100%;
	display: flex;
	flex-direction: column;
}

.view-container-full {	
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-y: auto;
}

.view-container-fill {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.layout-default {
	display: flex;
	overflow-y: auto;
	height: 100%;
}

.view-column-half {
	flex:0.5 1 0%;
	overflow: hidden;
}

.layout-full {
	display: flex;
	overflow-y: auto;
	height: 100%;
	width: 100%;
}

.view-default {
	display: flex;
	overflow-y: auto;
	flex: 1;
}

.layout-column {
	display: flex;
	overflow-y: auto;
	height: 100%;
	flex-direction: column;
}

.layout-column-full {
	flex: 1; 
	display: flex; 
	flex-direction: column; 
	overflow: hidden;
} 

.layout-left-panel {
	/*width: 400px;*/
	flex: 0 0 400px;
	border-right: 1px solid #D4D4D4;
	height: 100%;
}

.layout-right-view {
	width: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}

.layout-view {
	flex: 1;
	overflow: hidden;
}

.layout-flex-fill {
	flex: 1;
}

.layout-gray {
	background-color: #EEEEEE;
}

.layout-chrome {
	background-color: rgb(245, 245, 245);
}

.layout-flex {
	display: flex;
}

.layout-flex-full {
	display: flex;
	height: 100%;
}

.layout-overlay-center {
	position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.layout-overlay-full-center {
	position: absolute;
    top: 0;
    height: 100%;
	width: 100%;	
}

.control-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-center {
	display: flex;
    align-items: center;
}

.layout-overlap {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.layout-relative {
	position: relative;
}

.control-pointer {
	cursor: pointer;
}

.control-overflow-hidden {
	overflow: hidden;
}

.flex-align-right {
    margin-left: auto;
}

.flex-align-left {
    margin-right: auto;
}

.white {
	background-color: white;
}

.ignore-mouse-click {
    pointer-events: none;
}

.layout-right {
    margin-right: auto;
}

.layout-left {
    margin-left: auto;
}

.control-noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}