.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;    
    border-radius: .25rem;
}

.card-theme-1 {
    box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
}

.card-default {
    border: 1px solid rgba(0,0,0,.125);
}

.card-header {
    padding: 20px 5px;
}

.card-body {
    padding: 20px 5px;
}

.card-footer {
    border-top: 1px solid rgba(0,0,0,.125);
    background-color: 1px solid rgba(0,0,0,.125);
    background-color: #eee;
    padding: 4px;
}