.tabs {
    margin-bottom: 0px;
    margin-top: 0px;
    list-style: none;
    display: flex;
    align-items: flex-end;
}

.tabs-theme-1 {
    border-bottom: 1px solid #ebebeb;
    background: #fafafa;
}

.tabs-theme-2 {
    border-bottom: 1px solid #c0c0c0;
    color: #555;
}

.tabs > li {
    position: relative;
    cursor: pointer;
    font-weight: 600;
}

.tabs > li.active {
    color: #1E88E5;
    font-weight: 600;
}

.tabs > li.active > a, .tabs > li.active > a:hover, .tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    outline: 0;
}

.tabs > li > a {    
    text-decoration: none;
    outline: 0;
}

.tab-header {
    cursor: pointer;
    padding: 5px 20px;
}

.active-tab {
    border-bottom: 4px solid #1E88E5;
    left: 0px; 
    width: 100%; 
    bottom: 0px; 
    position: absolute;
}
