.label-control {
    padding: 4px 2px;
    font-size: 11px;
    /*font-size: 80%;
    font-weight: bold;*/
    font-weight: bold;
    line-height: 1;
    color: #555;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-header {
    padding: 6px 4px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #555;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-control-color {
    color: #555;
}