
.axis path,
.axis line,.y-grid-line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
.axis text {
  font-size: 12px;
}
 
.gc-line {
  fill: none;
  stroke-width: 2px;
}

.gc-line.ax2 {
  fill: #bcbcbc;
  stroke-width: 0;
}

.gc-tooltip {
  position: absolute;
}
.hoverLine {
  stroke-dasharray: 5,10;
}

.data-point {
  stroke-width:  0;
}

rect.zoomPane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.graph-zoom-in:hover, .graph-zoom-out:hover, .graph-reset:hover {
  color:grey;
  cursor: pointer;
}

.graph-zoom-in, .graph-zoom-out, .graph-reset {
  font-size:1.25em
}

.area.above {
  fill: rgb(252,141,89);
}

.area.below {
  fill: rgb(145,207,96);
}
