.textarea-container {
    display: flex;
    flex-direction: column;
}

.textarea-complete {
    color: #555;
    border: 0;
    flex-basis: 50px;
    flex-grow: 1;
    padding: 4px 6px;
}

.textarea-input-default {
    border: 0;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}
 
.textarea-input {    
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px 6px;
    line-height: 1.4285;
    color: #555;
    background-image: none;    
    font-size: 12px;
    border: 0;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

    /*border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
}

.textarea-input:disabled {
    background-color: rgba(0, 0, 0, 0.12);
}

.textarea-input-theme {    
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px 6px;
    line-height: 1.4285;
    color: #555;
    background-image: none;    
    font-size: 12px;
    border: 0;
    border: 1px solid #CCC;

    /*border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
}

.textarea-input-theme:disabled {
    background-color: rgba(0, 0, 0, 0.12);
}