.expander-container-default {
    border: 1px solid rgba(0,0,0,.125);
}

.expander-container-bottom {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.expander-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    display: flex;
    align-items: center;
    cursor: default;
    color: #555555;
    font-size: 14px;
    font-weight: 500;
}

.expander-caret {
    padding: 0px 5px;
}

.expander-header-caret-left {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.expander-header-expanded {
    border-bottom: 1px solid rgba(0,0,0,.125);
}