.bar-percentage {
    -moz-transition: width .4s ease;
    -o-transition: width .4s ease;
    -webkit-transition: width .4s ease;
    transition: width .4s ease;
    background-color: #d00;
    border-radius: 5px;
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 0;
    text-indent: -9000px;
}

.bar-total {
    background-color: #f2f2f2;
    display: block;
    height: 4px;
    overflow: hidden;
    padding: 0;
    width: 100%;
    border-radius: 5px;
    height: 10px;
    float: left;
    margin-top: 9px;
    margin-bottom: 9px;
}

.line-bar-chart-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}