/** autocomplete **/
.custom-input {
  [dialog] .dialog div.dialog-wrap {
    max-height: 176px;
    overflow-x: scroll;
  }

  [dialog].autocomplete {
    position: absolute;
    top: 100%;
    right: 0;
    width: 187px;
    min-width: 100%;

    .dialog-trigger {
      display: none;
    }

    .dialog {
      position: static;
    }

    .dialog div.dialog-wrap {
      padding: 5px 0;
    }
  }

  .selected-arrow {
    background: #eee;
  }

  .autocomplete {
    .row-autocomplete {
      font-weight: 500;
      font-size: 15px;
      color: black;
      text-align: right;
      padding: 5px 10px;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #eee;
      }

      &.empty {
        color: #888;
      }
    }

    .highlight {
      color: mediumblue;
    }
  }
}
